/* colores opciones
azul
00EEFF

naranja
A53708 -- 812C07

naranja2
F13900 -- 711B00

rosa
E80C7A -- AD095B -- 820744

rojo
A50814 -- 770710

*/
body {
	background: #f0f0f0;
	/*color: #fff;*/
}
h1, li>a {
	font-weight: 200;
	color: #333;
	outline: none;
}
h2 {
	font-weight: bold;
	font-size: 1.2em;
}
.logo_menu {
	height: 30px;
	margin-bottom: 5px;
}
.logo {
	height: 100px;
}
.wrapper {
	min-height: 100%;
	min-height: calc(100% - 36px);
}
.top-bar, .top-bar-section ul li a, .top-bar.expanded .title-area,  .top-bar.expanded .title-area a span, .top-bar.expanded .toggle-topbar a {
  background: #E80C7A !important;
  color: #fff;
}
.top-bar-section > ul > .divider, .top-bar-section .divider, .top-bar-section [role="separator"] {
  border: none !important;
  background: #E80C7A !important;
}
.top-bar-section ul li a:hover {
  background: #AD095B !important;
}
.panel {
	font-weight: 100;
	background: #fff;
	border: none;
}
.header {
	text-align: center;
}
#player {
	/*visibility: hidden;*/
	background: #000;
}
.main {
	padding-bottom: 50px; 
}
.response {
	min-height: 20px;
	padding: 20px 0;
	/*opacity: 0;*/
}
.url {
	margin-bottom: 0 !important;
}
.list .up, .list .down, #search-container li, .related li {
	cursor: pointer;
}
li a {
	outline: none;
}
.browse-list/*,  .related, .browse-groups  */ {
	max-height: 300px;
	overflow: auto;
}
.browse-list li, #search-container li, .browse-groups li, .related li {
	background: #dfdfdf;
	margin-bottom: 1px;
	list-style: none;
	padding: 5px 10px;
}
.browse-list li:hover, #search-container li:hover, .browse-groups li:hover, .related li:hover {
	background: #fcfcfc;
	/*font-weight: 300;*/
	cursor: pointer;
}
.browse-list li.inactive {
	color: #ccc;
	background: #fff;
}
.related li.selected {
	display: none;
}
.active-list dd {
	margin-bottom: 3px;
	cursor: pointer;
}
.menu {
	/* padding-bottom: 20px; */
}
.row {
	max-width: 100%;
}
#curr_title {
	background: #222;
	color: #fff;
	padding: 10px;
	margin-top: -10px;
	/* margin-bottom: 20px; */
	font-size: 12px;
	min-height: 35px;
}
a {
  color: #820744;
}
a:hover {
  color: #AD095B;
}
.sub-nav dd.active a {
  background: #E80C7A;
  cursor: pointer;
}
.sub-nav dd.active a:hover {
  background: #820744;
}
#search-button {
	margin-bottom: 0;
}
#search-container li {
	overflow: hidden;
	height: 60px;
}
#search-container li img {
	height: 60px;
	margin-left: -10px;
	margin-top: -5px;
	margin-right: 20px;
}
.list.row {
	background: #dfdfdf;
	margin-bottom: 1px;
	padding: 10px;
	font-weight: 200;
}
.list.row:hover {
  background: #fcfcfc;
}
.list.row i {
	color: #333;
	font-size: 0.8em;
}
.list.row i:hover {
	color: #820744;
}
.footer {
	min-height:30px;
	border-top: #555 solid 1px;
	background-color: #888;
	width: 100%;
	color: #fff;
	padding: 10px;
	font-size: 10px;
	position: relative;/*
	z-index: 100;*/
}
.fija {  
/*max-height: 100%;
  overflow: auto;
  position: fixed;
  padding-bottom: 120px;*/
}
.skip-load, .add-load, .add-list-load {
	display: none;
}
.skip {
	cursor: pointer;
	display: none;
}
.icons i {
	margin:5px;
}
.add_lib  {
	cursor: pointer;
}
.alert-box {
	border-radius: 2px;
	position: fixed;
	top: 45px;
	left: 50%;
	top: 50%;
	margin-left: -125px;
	width: 250px;
	display: none;
	text-align: center;
	z-index: 100;
	background: #E80C7A;
	border: none;
}
.list-title {
	font-weight: bold;
	padding: 10px;
}
.list-sortable {
	margin: 10px 0;
	padding: 10px;
	background: #eee;
	border: 1px #ccc solid;
	overflow: auto;
	max-height: 300px;
}
.list-sortable .row {
	cursor: move;
}
.list-sortable.main-list {
	max-height: 100%;
}
.delete {
	cursor: pointer;
}
small {
	font-size: 0.8em;
	font-weight: normal;
}